/*
* @Author: Marte
* @Date:   2017-09-03 11:33:23
* @Last Modified by:   Marte
* @Last Modified time: 2017-09-13 20:40:38
*/

/*
 *bootstrap扩展模块
 */
/*
 *btn-weijinsuo免费注册样式
 */
 .btn-weijinsuo {
   color: #ffffff;
   background-color: #E92322;
   border-color: #DB3B43;
 }

 .btn-weijinsuo:hover,
 .btn-weijinsuo:focus,
 .btn-weijinsuo:active,
 .btn-weijinsuo.active,
 .open .dropdown-toggle.btn-weijinsuo {
   color: #ffffff;
   background-color: #e92322;
   border-color: #DB3B43;
 }

 .btn-weijinsuo:active,
 .btn-weijinsuo.active,
 .open .dropdown-toggle.btn-weijinsuo {
   background-image: none;
 }

 .btn-weijinsuo.disabled,
 .btn-weijinsuo[disabled],
 fieldset[disabled] .btn-weijinsuo,
 .btn-weijinsuo.disabled:hover,
 .btn-weijinsuo[disabled]:hover,
 fieldset[disabled] .btn-weijinsuo:hover,
 .btn-weijinsuo.disabled:focus,
 .btn-weijinsuo[disabled]:focus,
 fieldset[disabled] .btn-weijinsuo:focus,
 .btn-weijinsuo.disabled:active,
 .btn-weijinsuo[disabled]:active,
 fieldset[disabled] .btn-weijinsuo:active,
 .btn-weijinsuo.disabled.active,
 .btn-weijinsuo[disabled].active,
 fieldset[disabled] .btn-weijinsuo.active {
   background-color: #E92322;
   border-color: #DB3B43;
 }

 .btn-weijinsuo .badge {
   color: #E92322;
   background-color: #ffffff;
 }
/*
 *navbar
 */
.navbar-weijinsuo {
  background-color: #fff;
  border-color: #f5f5f5;
  margin-bottom: 0;
  top: 0;
  width: 100%;
}
.navbar-weijinsuo .navbar-brand {
  color: #777;
  height: 80px;
}
.navbar-weijinsuo .navbar-brand:hover,
.navbar-weijinsuo .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-weijinsuo .navbar-text {
  color: #777;
}
.navbar-weijinsuo .navbar-nav > li > a {
  color: #777;
  line-height: 48px;
  font-size: 14px;
}
.navbar-weijinsuo .navbar-nav > li > a:hover,
.navbar-weijinsuo .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
  border-bottom: 2px solid #e92322
}
.navbar-weijinsuo .navbar-nav > .active > a,
.navbar-weijinsuo .navbar-nav > .active > a:hover,
.navbar-weijinsuo .navbar-nav > .active > a:focus {
  color: #555;
  background-color: transparent;
  border-bottom: 2px solid #e92322;
}
.navbar-weijinsuo .navbar-nav > .disabled > a,
.navbar-weijinsuo .navbar-nav > .disabled > a:hover,
.navbar-weijinsuo .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-weijinsuo .navbar-toggle {
  border-color: #ddd;
  margin-top: 23px;
  margin-bottom: 30px;
}
.navbar-weijinsuo .navbar-toggle:hover,
.navbar-weijinsuo .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-weijinsuo .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-weijinsuo .navbar-collapse,
.navbar-weijinsuo .navbar-form {
  border-color: #e7e7e7;
}
.navbar-weijinsuo .navbar-nav > .open > a,
.navbar-weijinsuo .navbar-nav > .open > a:hover,
.navbar-weijinsuo .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-weijinsuo .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-weijinsuo .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-weijinsuo .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-weijinsuo .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-weijinsuo .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-weijinsuo .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-weijinsuo .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-weijinsuo .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-weijinsuo .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-weijinsuo .navbar-link {
  color: #777;
}
.navbar-weijinsuo .navbar-link:hover {
  color: #333;
}
.navbar-weijinsuo .btn-link {
  color: #777;
}
.navbar-weijinsuo .btn-link:hover,
.navbar-weijinsuo .btn-link:focus {
  color: #333;
}
.navbar-weijinsuo .btn-link[disabled]:hover,
fieldset[disabled] .navbar-weijinsuo .btn-link:hover,
.navbar-weijinsuo .btn-link[disabled]:focus,
fieldset[disabled] .navbar-weijinsuo .btn-link:focus {
  color: #ccc;
}

/*
 *选项卡内容
 */
 .panel-weijinsuo {
   border: 0;
   border-radius: 0;
   box-shadow: 1px 1px 5px #ccc;
 }
 .panel-weijinsuo.active{
  background-color: #e92322;
  color: #fff;
  position: relative;
 }
 .panel-weijinsuo.active::before{
  content: "\e915";
  position: absolute;
  /* 不写这个会继承父元素的字体，就不能识别"\e915"了 */
  font-family: weijinsuo;
  font-size: 36px;
  top: -8px;
  left: -1px;
 }
 .panel-weijinsuo.disabled{
  background-color: #e0e0e0;
 }
 .panel-weijinsuo > .panel-heading {
   float: right;
   padding: 0;
   width: 120px;
   height: 150px;
   border-left: 1px dashed #c0c0c0;
   text-align: center;
   position: relative;
 }
 .panel-weijinsuo > .panel-heading::before,
 .panel-weijinsuo > .panel-heading::after{
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #f0f0f0;
  position: absolute;
 }
 .panel-weijinsuo > .panel-heading::before{
  top: -8px;
  left: -8px;
 }
 .panel-weijinsuo > .panel-heading::after{
  bottom: -8px;
  left: -8px;
  box-shadow: 0 2px 1px #ccc inset;
 }
 .panel-weijinsuo > .panel-body {
  margin-right: 120px;
  height: 150px;
 }
 .panel-weijinsuo > .panel-heading + .panel-collapse > .panel-body {
   border-top-color: #ddd;
 }
 .panel-weijinsuo > .panel-heading .badge {
   display: inline-block;
   width: 20px;
   height: 20px;
   border-width: 1px;
   border-style: solid;
   border-radius: 0;
   background-color: transparent;
   padding: 3px;
 }
 .panel-weijinsuo > .panel-heading .badge-one {
  color: #e92322;
  border-color: #e92322;
 }
 .panel-weijinsuo > .panel-heading .badge-two {
  color: #399;
  border-color: #399;
 }


/*
 *公共样式
 */
body{
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
/*
 *字体图标
 */
@font-face{
    font-family: 'weijinsuo';
    src: url('../font/MiFie-Web-Font.eot') format('embedded-opentype'),
    url('../font/MiFie-Web-Font.svg') format('svg'),
    url('../font/MiFie-Web-Font.ttf') format('truetype'),
    url('../font/MiFie-Web-Font.woff') format('woff');
}

[class^="icon-"],[class*=" icon-"]{
    font-family: weijinsuo;
    font-style: normal;//ä¸è¦æ–œä½“
}

.icon-mobilephone::before {
  content: "\e908";
  font-size: 13px;
}

.icon-telephone::before {
  content: "\e909";
  font-size: 15px;
}

.icon-logo::before {
  content: "\e93e";
}

.icon-icon::before {
  content: "\e920";
}
/*
 *测试
 */
/* #header{
    height: 200px;
} */

#header a{
    color: #888;
}

#header a:hover{
    text-decoration: none;
}

#header>.topbar{
    height: 40px;
    border-bottom: 1px solid #c0c0c0;
    line-height: 40px;
}

#header>.topbar>.container>.row>div{
    height: 40px;
    font-size: 12px;
    color: #888;
}

#header>.topbar>.container>.row>div + div{
    border-left: 1px solid #c0c0c0;
}

/* #header .mobile-link{
    font-size: 12px;
    color: #888;//aæ ‡ç­¾çš„é¢œè‰²ä¸å—çˆ¶çº§å½±å“
} */

/* #header .mobile-link:hover{
    text-decoration: none;
} */

#header .btn-weijinsuo {
  color: #fff;
}

#header .mobile-link img{
    position: absolute;
    left: 50%;
    margin-left: -60px;
    top: 30px;
    display: none;
    z-index: 1001;
}

#header .mobile-link:hover > img{
    display: block;
}
/* #header>.topbar>.container>.row>div{
    height: 40px;
    background-color: #f40;
} */
/* #header>.topbar>.container>.row>div:nth-of-type(2n){
    background-color: #f00;
} */

#header .icon-icon{
    font-size: 50px;
    line-height: 50px;
    color: #E92322;
    vertical-align: middle;
}

#header .icon-logo{
    font-size: 32px;
    line-height: 32px;
    color: #333;
    vertical-align: middle;
}

/*
 *通栏轮播
 */
#main-ad{}

#main-ad > .carousel-inner > .item{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/*
 *图片适应宽度
 */
#main-ad > .carousel-inner > .item > img{
  width: 100%;
}
/*
 *item宽度变化
 */
@media (min-width: 768px){
  #main-ad > .carousel-inner > .item{
    height: 410px;
  }
}

/*
 *网站特色
 */
#tese{
  padding: 50px 0;
  border-bottom: 1px solid #c0c0c0;
}

.icon-uniE907:before {
    content: "\e907";
}

#tese > .container > .row i{
  font-size: 30px;
  padding: 10px 0;
}

#tese > .container > .row a{
  text-decoration: none;
  color: #333;
}

#tese > .container > .row a:hover{
  text-decoration: none;
  color: #e92322;
}

#tese > .container > .row .media{
  padding: 10px 0;
}
/* #tese > .container > .row > div{
  height: 30px;
  background-color: red;
}
#tese > .container > .row > div:nth-of-type(2n){
  background-color: blue;
} */

/*
 *预约投标
 */
#yuyue{
  border-bottom: 1px solid #c0c0c0;
}

.icon-uniE906:before {
    content: "\e906";
}

.icon-uniE905:before {
    content: "\e905";
}

#yuyue > .container{
  padding: 20px 0;
}

#yuyue > .container > p{
  font-size: 16px;
  line-height: 20px;
}

#yuyue > .container > p > i{
  font-size: 20px;
}

#yuyue > .container > p > span , #yuyue > .container > p.pull-left > a{
  color: #e92322;
}

#yuyue > .container > p.pull-left > a{
  border-bottom: 1px dashed #e92322;
}

#yuyue > .container > p.pull-left > a:hover , #yuyue > .container > p.pull-right > a:hover{
  text-decoration: none;
}

#yuyue > .container > p.pull-right > a{
  color: #333;
}

/*
 *产品推荐,有部分样式在扩展中
 */
#products{
  background-color: #f0f0f0;
  padding: 40px 0;
}
/*
 *这样写pc上始终会有滚动条
 */
/* #products > .container >  .ul-wrapper{
  overflow-x: scroll;
} */

#products > .container >  .ul-wrapper > .nav-tabs{
    padding-left: 20px;
}

#products > .container >  .ul-wrapper > .nav-tabs > li{}

#products > .container >  .ul-wrapper > .nav-tabs > li > a{
    font-size: 16px;
    color: #444;
}

#products > .container >  .ul-wrapper > .nav-tabs > li > a:hover{
    border-color: transparent;
    background-color: transparent;
    color: #333;
}

#products > .container >  .ul-wrapper > .nav-tabs > li.active{}

#products > .container >  .ul-wrapper > .nav-tabs > li.active > a{
    background-color: transparent;
    border: 0;
    border-bottom: 4px solid #e92322;
}

#products > .container > .tab-content {
  padding-top: 20px;
}

#products > .container > .tab-content .panel-heading strong{
  font-size:36px;
  font-weight: blod;
  color: #fff;
}
#products > .container > .tab-content .panel-heading  p{
  margin-top: 45px;
}

#products > .container > .tab-content .panel-body p{
  margin:0;
  color: #c0c0c0;
}

#products > .container > .tab-content h5{
  font-size: 16px;
  margin-top: 0;
}
#products > .container > .tab-content .panel-body strong{
  font-size: 16px;
}

/* #products > .container > .tab-content .panel-body sub{
  color: #fff;
} */

#products > .container > .tab-content .disabled .panel-body strong,
#products > .container > .tab-content .disabled .panel-body sub{
  color: #555;
}

#products > .container > .tab-content .panel-heading strong{
  color: #e92322;
}

#products > .container > .tab-content .row .active .panel-heading strong{
  color: #fff;
}

#products > .container > .tab-content .panel-heading  p.tooltips{
  margin-top: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 22px;
 }

 /*
  *新闻
  */
 #news{
  padding: 40px 0;
  border-bottom: 1px solid #c0c0c0;
 }

 #news .news-title{
  padding: 20px 0;
  font-size: 18px;
  font-weight: blod;
  text-align: center;
  border-bottom: 1px dashed #c0c0c0;
  position: relative;
  margin-right: 10px;
 }

 /* 圆点 */
 #news .news-title::after{
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  position: absolute;
  bottom: -5px;
  right: -10px;
 }

 /* 图标 */
 .icon-news01:before {
  content: "\e90e";
  font-size: 28px;
  color: #EAEAEA;
}

.icon-news02:before {
  content: "\e90f";
  font-size: 28px;
  color: #EAEAEA;
}

.icon-news03:before {
  content: "\e910";
  font-size: 28px;
  color: #EAEAEA;
}

.icon-news04:before {
  content: "\e911";
  font-size: 28px;
  color: #EAEAEA;
}

@media (max-width: 768px){
  #news .nav-stacked > li {
    float: left;
    margin-right: 20px;
}
}

#news .tab-content li{
  list-style: none;
  padding: 10px 0;
  margin-left: -30px;
}

#news .nav-pills li.active a{
  background-color: #e92322;
}

#news .nav-pills li a{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  text-align: center;
  padding: 15px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#news .nav-pills li a i{
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

/*
 *合作伙伴
 */
.icon-uniE930:hover {
  color: #df3232;
}

.icon-uniE930::before {
  content: "\e946";
}

.icon-uniE92F:hover {
  color: #e8380d;
}

.icon-uniE92F::before {
  content: "\e92f";
}

.icon-uniE92E:hover {
  color: #ed6f00;
}

.icon-uniE92E::before {
  content: "\e92e";
}

.icon-uniE92A:hover {
  color: #159f69;
}

.icon-uniE92A::before {
  content: "\e92a";
}

.icon-uniE929:hover {
  color: #07569e;
}

.icon-uniE929::before {
  content: "\e929";
}

.icon-uniE931:hover {
  color: #004098;
}

.icon-uniE931::before {
  content: "\e931";
}

.icon-uniE92C:hover {
  color: #d32019;
}

.icon-uniE92C::before {
  content: "\e92c";
}

.icon-uniE92B:hover {
  color: #3eac4a;
}

.icon-uniE92B::before {
  content: "\e92b";
}

.icon-uniE92D:hover {
  color: #2bb289;
}

.icon-uniE92D::before {
  content: "\e92d";
}
#hzhb{
  padding-top: 50px;
}

#hzhb .container ul{
  padding: 0;
  margin: 0;
}

#hzhb .container li{
  list-style: none;
  float: left;
  font-size: 50px;
  width: calc(100% / 9)
}

#hzhb .container li + li{
  border-left: 1px dashed #c0c0c0;
}

.hzhb-list a{
  color: #888;
}
#hzhb .container li a:hover{
  text-decoration:none;
}
 /*
  *脚注
  */
 #footer{
  height: 200px;
 }